<div class="container">
    <h1 class="title"><span data-bind="text: selectedLeagueName"></span> table</h1>
    <select class="select" data-bind="options: leagues, value: selectedLeagueName"></select>
    <table class="league-table">
        <thead>
        <tr class="league-table__head">
            <th class="league-table__head-item">Position</th>
            <th class="league-table__head-item">Team</th>
            <th class="league-table__head-item">G</th>
            <th class="league-table__head-item">W</th>
            <th class="league-table__head-item">D</th>
            <th class="league-table__head-item">L</th>
            <th class="league-table__head-item">GS</th>
            <th class="league-table__head-item">GC</th>
            <th class="league-table__head-item">P</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: selectedLeague()"> <!-- This binding does not work without parenthesis. Why? -->
        <tr class="league-table__row">
            <td class="league-table__item" data-bind="text: position"></td>
            <td class="league-table__item league-table__item--wide">
                <a data-bind="attr: {href: `#teams/${id}`">
                    <span data-bind="text: name"></span>
                </a>
            </td>
            <td class="league-table__item" data-bind="text: games"></td>
            <td class="league-table__item" data-bind="text: wins"></td>
            <td class="league-table__item" data-bind="text: draws"></td>
            <td class="league-table__item" data-bind="text: losses"></td>
            <td class="league-table__item" data-bind="text: goals"></td>
            <td class="league-table__item" data-bind="text: goalsAgainst"></td>
            <td class="league-table__item" data-bind="text: points"></td>
        </tr>
        </tbody>
    </table>
</div>