.team-card {
    box-sizing: border-box;
    width: 500px;
    margin-bottom: 1em;
    padding: 1em;

    background-color: #eeeeee;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);

    &:after {
        display: table;
        clear: both;

        content: '';
    }

    .team-card__full-name {
        font-size: 30px;

        width: 100%;

        color: #000000;
    }

    .team-card__full-name--current {
        cursor: default;
        text-decoration: none;
    }

    .team-card__info {
        font-size: 20px;

        margin-top: 0.3em;
    }

    .team-card__image-container {
        float: left;
        text-align: center;

        width: 100px;
        height: 100px;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    .team-card__image {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
    }
}




