.team-card {
    padding: 1em;
    border-bottom: 1px solid #888888;
    &:after {
        display: table;
        clear: both;

        content: '';
    }
    &:last-child {
        border-bottom: none;
    }
    .team-card__fullName {
        font-size: 20px;

        color: #888888;
    }
    .team-card__image {
        float: left;

        width: 5em;
        margin-right: 1em;
    }
}




