<header class="header">
    <div class="header__logo">Football stats</div>
    <nav class="header__navigation">
        <a class="header__link" href="#league" data-bind="css: {'header__link--selected': url() === '#league'}">league table</a>
        <a class="header__link"  href="#teams" data-bind="css: {'header__link--selected': url() ==='#teams'}">teams</a>
        <a class="header__link"  href="#teams/57" data-bind="css: {'header__link--selected': url() ==='#teams/57'}">Arsenal</a>
    </nav>
</header>