.fixtures-list {
    display: block;
    box-sizing: border-box;
    width: 400px;

    border: 1px solid #444444;

    .fixtures-list__element {
        padding: 20px;

        border-bottom: 1px solid #444444;


        &--selected {
            color: #ffffff;
            background-color: #4060f0;
        }

        &:last-child {
            border: none;
        }
    }
}
