.card {
    box-sizing: border-box;
    width: 500px;
    margin-bottom: 1em;
    padding: 1em;

    background-color: #eeeeee;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);

    &:after {
        display: table;
        clear: both;

        content: '';
    }

    .card__title {
        font-size: 30px;

        color: #000000;
    }

    .card__text {
        font-size: 20px;

        margin-top: 0.3em;
    }
}




