.signing-form {
    box-sizing: border-box;
    width: 500px;
    padding: 2em;

    background-color: #eeeeee;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);

    &:after {
        display: table;
        clear: both;

        content: '';
    }

    .signing-form__title {
        font-size: 30px;

        margin-bottom: 1em;

        color: #000000;
    }

    .signing-form__text {
        font-size: 20px;

        margin-bottom: 0.3em;
    }

    .signing-form__link {
        transition: 100ms;
        font-size: 20px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #209030;

        &:hover {
            background-color: #209030;
            color: #ffffff;
        }
    }

    .signing-form__input {
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
        padding: 0.2em;
        border: none;
        margin-bottom: 1em;
        box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.5);
    }

    .signing-form__button {
        font-size: 20px;
        padding: 0.2em;
        border: none;
        transition: 100ms;
        margin-bottom: 1em;

        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);

        &:hover {
            background-color: #209030;
            color: #ffffff;
        }
    }
}




