<div class="container">
    <h1 class="title"><span data-bind="text: selectedLeagueName"></span> teams</h1>
    <select class="select" data-bind="options: leagues, value: selectedLeagueName"></select>

    <ul class="team-list team-list--favorite" data-bind="foreach: favorites, visible: favorites().length">
        <li class="team-list__element">
            <button class="favorite-button favorite-button--selected"
                    data-bind="click: () => $component.toggleFavoriteState($data),">
                &#9733
            </button>
            <a class="team-list__fullName">
                <span data-bind="text: name"></span>
            </a>
        </li>
    </ul>
    <div>
        <ul class="team-list" data-bind="foreach: selectedLeagueTeams()">
            <li class="team-list__element">
                <button class="favorite-button"
                        data-bind="click: () => $component.toggleFavoriteState($data),
                        css: {'favorite-button--selected': $component.isFavorite($data)}">
                    &#9733
                </button>
                <div class="team-list__image-container">
                    <img class="team-list__image" data-bind="attr: {src: imageUrl}">
                </div>
                <a class="team-list__fullName" data-bind="teamLink: id">
                    <span data-bind="text: fullName"></span>
                </a>
                <div data-bind="visible: name" class="team-list__name">
                    short name: <span data-bind="text: name"></span>
                </div>
                <div class="team-list__value" data-bind="visible: squadMarketValue">
                    squad Market Value: <span data-bind="text: squadMarketValue"></span>
                </div>
            </li>
        </ul>
    </div>
</div>