.tweets-block {
    float: right;
    width: 400px;

    .tweets-block__info {
        padding: 0.5em;
        background-color: #eeeeee;
        border-radius: 0.4em;
        font-size: 20px;
        color: #444444;
    }

    .tweets-block__text {
        padding: 0.5em;
        font-size: 15px;
    }
}