<div class="tweets-block">
    <div class="title">Tweets for #<span data-bind="text: tag"></span></div>
    <ul class="tweets-block__list" data-bind="foreach: tweets">
        <li class="tweets-block__tweet">
            <p class="tweets-block__info">
                <span data-bind="text: user"></span>
                <span data-bind="text: time.toLocaleTimeString() + ' ' + time.toLocaleDateString()"></span>
            </p>
            <p class="tweets-block__text" data-bind="text: text"></p>
        </li>
    </ul>
</div>


