<div class="head-to-head" data-bind="with: fixture">
    <div class="title title--wide">
        <span data-bind="text: homeTeamName"></span>
        -
        <span data-bind="text: awayTeamName"></span>
    </div>
    <div class="head-to-head__info">
        <div data-bind="date: new Date(date)"></div>
        <div class="head-to-head__odds" data-bind="if: odds">
            Odds:
            <br>
            Home win: <span data-bind="text: odds.homeWin"></span>,
            Draw: <span data-bind="text: odds.draw"></span>,
            Away win: <span data-bind="text: odds.awayWin"></span>
        </div>
        <div class="head-to-head__odds" data-bind="if: odds">
            Head to head statistics:
            <br>
            Home wins: <span data-bind="text: stat.homeTeamWins"></span>,
            Draws: <span data-bind="text: stat.draws"></span>,
            Away wins: <span data-bind="text: stat.awayTeamWins"></span>
        </div>
    </div>
    <div class="fixtures-list" data-bind="foreach: head2head">
        <div class="fixtures-list__element">
            <div class="fixtures-list__title">
                <span data-bind="text: homeTeamName"></span>
                -
                <span data-bind="text: awayTeamName"></span>
                <span data-bind="text: goalsHomeTeam"></span>
                -
                <span data-bind="text: goalsAwayTeam"></span>
            </div>
            <div class="fixtures-list__date" data-bind="date: new Date(date)"></div>
        </div>
    </div>
</div>
