<div class="head-to-head" data-bind="with: fixture()()">
    <div class="title title--wide" data-bind="text: homeTeamName + ' - ' + awayTeamName"></div>
    <div class="head-to-head__info">

    </div>
    <div class="fixtures-list" data-bind="foreach: head2head">
        <div class="fixtures-list__element">
            <div class="fixtures-list__title">
                <span data-bind="text: homeTeamName"></span>
                -
                <span data-bind="text: awayTeamName"></span>
                <span data-bind="text: goalsHomeTeam"></span>
                -
                <span data-bind="text: goalsAwayTeam"></span>
            </div>
            <div class="fixtures-list__date" data-bind="text: new Date(date).toLocaleDateString()">
            </div>
        </div>
    </div>
</div>
