.team-page {
    .team-page__title {
        font-size: 35px;

        padding-bottom: 1em;
    }

    .team-page__tab-item {
        font-size: 20px;

        display: inline-block;

        margin-bottom: 1em;
        padding: 1em;

        transition: 100ms;
        text-decoration: underline;

        color: #4060f0;
        border: 1px solid #888888;
        border-radius: 0.3em;

        &:hover {
            background-color: #eeeeee;
        }

        &.team-page__tab-item--selected {
            text-decoration: none;

            color: #444444;
        }
    }
}