.fixtures-list {
    border: 1px solid #444444;
    width: 400px;

    .fixtures-list__element {
        padding: 20px;
        border-bottom: 1px solid #444444;


        &--selected {
            background-color: #4060f0;
            color: #ffffff;
        }
    }
}