<div class="user-actions">
    <div data-bind="with: user">
        Hello, <span data-bind="name"></span>
        <button data-bind="click: logOut">log out</button>
    </div>
    <div>
        <a href="/#" data-bind="click: () => openForm('sign-in')">Sign in</a>
        or
        <a href="/#" data-bind="click: () => openForm('sign-up')">Sign up</a>
    </div>
</div>
<modal params="visible: isFormOpened, comp: $component">
    <signing-form params="mode: $component.comp.formMode"></signing-form>
</modal>


