<div class="user-actions">
    <div data-bind="if: user()">
        Hello, <span data-bind="text: user().name"></span>
        |
        <a href="/#" data-bind="click: logOut">log out</a>
    </div>
    <div data-bind="if: !user()">
        <a href="/#" data-bind="click: () => openForm('sign-in')">Sign in</a>
        or
        <a href="/#" data-bind="click: () => openForm('sign-up')">Sign up</a>
    </div>
</div>
<modal params="visible: isFormOpened, comp: $component">
    <signing-form params="mode: $component.comp.formMode, user: $component.comp.user"></signing-form>
</modal>


