<div class="signing-form">
    <h1 class="signing-form__title" data-bind="text: 'sign in'"></h1>
    <p class="signing-form__description">e-mail</p>
    <input class="signing-form__input" type="email">
    <p class="signing-form__description">password</p>
    <input class="signing-form__input" type="password">
    <br>
    <input class="signing-form__submit" type="submit" value="submit" data-bind="click: () => console.log('submit')">
    <p class="signing-form__description">Don't have an account? <a href="/#">Register</a></p>

</div>


