<div class="pagination">
    <div data-bind="click: goToFirstPage" class="pagination__page">First</div>
    <div data-bind="click: goToPreviousPage" class="pagination__page">Prev</div>
    <div data-bind="text: (currentPage() + 1) + '/' + pageCount()" class="pagination__page"></div>
    <div data-bind="click: goToNextPage" class="pagination__page">Next</div>
    <div data-bind="click: goToLastPage" class="pagination__page">Last</div>
</div>

<ul data-bind="foreach: { data: displayedItems(), as: 'item' }">
    <li data-bind="template: { nodes: $componentTemplateNodes, data: item }"></li>
</ul>

<div class="pagination">
    <div data-bind="click: goToFirstPage" class="pagination__page">First</div>
    <div data-bind="click: goToPreviousPage" class="pagination__page">Prev</div>
    <div data-bind="text: (currentPage() + 1) + '/' + pageCount()" class="pagination__page"></div>
    <div data-bind="click: goToNextPage" class="pagination__page">Next</div>
    <div data-bind="click: goToLastPage" class="pagination__page">Last</div>
</div>