<ul class="players-list" data-bind="foreach: players()">
    <li class="players-list__element">
        <div class="players-list__title">
            <span data-bind="text: jerseyNumber"></span>
            <span data-bind="text: name"></span>
        </div>
        <div class="players-list__info">
            position: <span data-bind="text: position"></span>
        </div>
        <div class="players-list__info">
            date of birth: <span data-bind="text: dateOfBirth.toLocaleDateString()"></span>
        </div>
        <div class="players-list__info" data-bind="visible: marketValue">
            market value: <span data-bind="text: marketValue"></span>
        </div>
    </li>
</ul>