<div class="pagination" data-bind="css: {'pagination--disable': pageCount() <= 1}">
    <div data-bind="click: toFirstPage" class="pagination__page">First</div>
    <div data-bind="click: previousPage" class="pagination__page">Prev</div>
    <div data-bind="text: (currentPage() + 1) + '/' + pageCount()" class="pagination__page"></div>
    <div data-bind="click: nextPage" class="pagination__page">Next</div>
    <div data-bind="click: toLastPage" class="pagination__page">Last</div>
</div>

<ul class="players-list" data-bind="foreach: displayedPlayers()">
    <li class="players-list__element">
        <div class="players-list__title">
            <span data-bind="text: jerseyNumber"></span>
            <span data-bind="text: name"></span>
        </div>
        <div class="players-list__info">
            position: <span data-bind="text: position"></span>
        </div>
        <div class="players-list__info">
            date of birth: <span data-bind="text: dateOfBirth.toLocaleDateString()"></span>
        </div>
        <div class="players-list__info" data-bind="visible: marketValue">
            market value: <span data-bind="text: marketValue"></span>
        </div>
    </li>
</ul>

<div class="pagination" data-bind="css: {'pagination--disable': pageCount() <= 1}">
    <div data-bind="click: toFirstPage" class="pagination__page">First</div>
    <div data-bind="click: previousPage" class="pagination__page">Prev</div>
    <div data-bind="text: (currentPage() + 1) + '/' + pageCount()" class="pagination__page"></div>
    <div data-bind="click: nextPage" class="pagination__page">Next</div>
    <div data-bind="click: toLastPage" class="pagination__page">Last</div>
</div>