.header {

    background: #209030;

    .header__logo {
        font-size: 40px;
        padding: 0 1em;
        display: inline-block;

        color: #ffffff;
    }

    .header__navigation {
        display: inline-block;
    }

    .header__link {
        display: inline-block;
        font-size: 30px;
        margin-left: 0.5em;
        padding: 1em;
        transition: 200ms;
        text-decoration: none;
        color: #b2dfbb;

        &:hover {
            color: #ffffff;
        }

        &.header__link--selected {
            color: #ffffff;
            cursor: default;
            background: rgba(0, 0, 0, 0.3);
        }
    }
}