<div class="container">
    <div data-bind="with: user">
        <h1 class="title">
            <span data-bind="text: name"></span>
            @
            <span data-bind="text: email"></span>
            <a href="#user/edit">Edit profile</a>
        </h1>
        <ul class="team-list" data-bind="foreach: $component.favorites, visible: $component.favorites().length">
            <li class="team-list__element">
                <button class="favorite-button favorite-button--selected"
                        data-bind="click: () => $component.toggleFavoriteState($data)">
                    &#9733
                </button>
                <a class="team-list__fullName" data-bind="href: {route: 'team', id}">
                    <span data-bind="text: name"></span>
                </a>
            </li>
        </ul>
    </div>
</div>