.select-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    font-size: 20px;

    .select-tabs__tab {
        cursor: pointer;
        text-align: center;

        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);

        color: #000000;
        padding: 0.5em;

        transition: 200ms;

        background-color: fade(#209030, 20%); /*fade(#209030, 20%)*/

        margin-right: 0.5em;

        flex-grow: 1;

        &:hover {
            background-color: fade(#209030, 30%)
        }

        &:last-child {
            margin-right: 0;
        }

        &.select-tabs__tab--selected {
            color: #ffffff;
            background-color: #209030;
            cursor: default;
        }
    }
}