.pagination {
    display: table;

    box-sizing: border-box;
    width: 400px;
    margin-top: 1em;
    margin-bottom: 1em;

    border: 1px solid #444444;
    .pagination__page {
        display: table-cell;

        padding: 1em;

        cursor: pointer;
        text-align: center;
        &:hover {
            text-decoration: underline;
        }
        &.pagination__page--disabled {
            text-decoration: none;

            color: #aaaaaa;
        }
    }
    &.pagination__page--disabled {
        display: none;
    }
}